*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: #ebebeb;
}

.container-top img {
    width: 2rem;
}

.main {
    display: flex;
    flex-direction: row nowrap;
    height: 100%;
    margin: 0 auto;
    background-color: #fcfcfc;
}




/* MAIN LEFT */

.main .main-left {
    padding: 4rem 2rem 2rem 5rem;
    width: 55%;
}

.main .main-left h1 {
    color: #322778;
    padding: 1rem 0;
    font-size: 2.5rem;
}

.main .main-left p {
    color: #9c98b3;
    font-size: .1.5rem;
    padding: 0;
    margin: 0;
}

.main .main-left .form span {
    display: block;
    padding: 1rem 0;
    color: #5c547f;
    font-weight: bold;
    font-size: 1.2rem;
}

.main .main-left .form .input-field {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 70%;
}

.main .main-left .form .input-field input {
    width: 100%;
    padding: 1rem;
    color: #5c547f;
    background-color: #f2f2f2;
    border: none;
}

.main .main-left .form .input-field img {
    width: 1rem;
}

.main .main-left .form .form-ps {
    display: none;
    padding: .2rem 0;
    width: 70%;
}

.main .main-left .form .form-ps div {
    padding: 0 .3rem;
}

.main .main-left .form .form-ps .hr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.main .main-left .form .form-ps hr {
    display: inline-block;
    background-color: #88e37c;
    width: 5rem;
    height: .3rem;
    border: none;
}

.main .main-left .form .form-TC {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 70%;
    padding: 1rem 0;
}

.main .main-left .form .form-TC p {
    display: block;
    padding: 0;
    width: 93%;
    font-size: .9rem;
    text-align:justify;
}

.main .main-left .form .form-button {
    padding: 1.3rem 0;
    width: 70%;
}

.main .main-left .form .form-button button {
    width: 100%;
    padding: 1rem;
    color: #fceffc;
    background-image: linear-gradient(to left, #90247a, #4f2378);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.main .main-left .form .form-button button:hover {
    background-image: linear-gradient(to left, rgba(144, 36, 122, .9), rgba(79, 35, 120, .9));
}

.main .main-left .create .create-with {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    box-sizing: border-box;
}

.main .main-left .create .create-with > div {
    display: flex;
    width: 30%;
    font-size: .8rem;
    align-items: center;
}

.main .main-left .create .create-with > div hr {
    width: 100%;
}

.main .main-left .create .create-with > p {
    width: 40%;
    text-align: center;
}

.main .main-left .socials {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 1rem;
    text-align: center;
}

.main .main-left .socials img {
    width: 2rem;
}

.main .main-left .login {
    color: #d0b9cc;
    font-weight: bold;
    width: 70%;
    text-align: center;
    padding: 1rem;
}

.main .main-left .login span {
    color: #a36a9a;
    font-weight: bold;
}



/* MAIN RIGHT */

.main-right {
    display: flex;
    justify-content: center;
    width: 70%;
    padding-top: 5rem;
    background-image: linear-gradient(to bottom left, #90247a, #4f2378);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.main-right .main-right__top {
    background-image: url(imgs/wire-bg.svg);
}

.main-right img {
    display: block;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    /* border: 2px solid orange; */
}
